<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/ee2bd34551.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Open+Sans:wght@500;800&family=Poppins:wght@100;200&family=Shippori+Antique+B1&family=Source+Sans+3:wght@200&display=swap"
      rel="stylesheet"
    />
    <title>Product: Product page</title>
    <link rel="stylesheet" href="/styles/landing_page.css" />
    <link rel="stylesheet" href="/styles/shopitem2.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
  </head>
  <body>
    <div class="nav_bar_container">
      <%- include("../public/components/navbar.html") %>
    </div>

    <div class="bs_container_for_img">
      <div class="bs_main_img_div">
        <!-- <img src="https://style.giftcart.com/pub/media/catalog/product/cache/74c1057f7991b4edb2bc7bdaa94de933/c/a/cab100m23.jpg" alt=""> -->
        <img src="<%= item.image %>" alt="" />
      </div>
      <div class="bs_right_side_div_ofimg">
        <div class="bs_product_name_div">
          <p class="ttl">
            <!-- Calvin Klein Be 100 ml For Men -->
            <%= item.product %>
          </p>
        </div>
        <div class="bs_start_andall_ext">
          <p>#CM09FSSD178 |</p>
          <p class="a1">26 REVIEWS |</p>
          <p>
            <i
              ><span class="stars">
                <i class="fas fa-star clr"></i>
                <i class="fas fa-star clr"></i>
                <i class="fas fa-star clr"></i>
                <i class="fas fa-star clr"></i>
                <i class="far fa-star clr"></i> </span
            ></i>
          </p>
          <p class="a2">ADD REVIEW</p>
        </div>
        <div class="bs_mrp_price">
          <p class="a3">MRP(incl gst)</p>
          <p class="bs_main_price">
            <!-- ₹2391.00 -->
            <%= item.price %>
          </p>
          <p class="bs_discounted_price">
            <!-- ₹3391.00 -->
            <%= item.price+2000 %>
          </p>
        </div>
        <div class="bs_yourSave_div">
          <p>Your Save <span style="color: red">10%</span></p>
        </div>
        <div class="bs_free_shipping_div">
          <p>Free Shipping</p>
        </div>
        <div class="bs_delivery_div">
          <p class="aa1">Delivery 4 - 6 Working Days</p>
          <p class="aa2">
            <i class="fa-solid fa-truck"></i>

            Delivery Coverage & Charges
          </p>
        </div>
        <!-- <div class="bs_hidden_div_for_pincode">
          this is hidden div check the css u will find display none
          <input class="hidden_input" type="number" />
          <button class="bs_btn_hidden_div">Check</button>
        </div> -->
        <div id="sk_div">
          <div id="sk_inc_dec">
            <img src="/images/inx_dec.png" alt="" />
          </div>
          <div id="sk_addtocart">
            <form action="/cart/<%- item._id %>">
              <button type="submit">ADD TO CART</button>
            </form>
          </div>
          <div id="sk_buynow">
            <form action="/cart/single/<%- item._id %>">
              <button>BUY NOW</button>
            </form>
          </div>
        </div>
        <!-- <div class="bs_inp_btn">
            
          <div class="bs_addtocart_div">
            <form action="/cart/<%- item._id %>">
              <button type="submit" class="btnA">ADD TO CART</button>
            </form>
          </div>
          <div class="bs_buynow_div">
            <form action="/cart/single/<%- item._id %>">
              <button class="btnB">BUY NOW</button>
            </form>
          </div>
        </div>
        <div class="bs_addtoCart_div">
          <i></i>
          <span class="fnl">
            <i class="fa-solid fa-heart"></i>
            ADD TO WISHLIST
          </span>
        </div> -->
        <!-- https://drive.google.com/file/d/1UCbGJPWeEWThT8Wmu5gW7ZeCVkBvtCQE/view?usp=sharing -->
      </div>
    </div>
    <div id="sk_item_details">
      <!-- <div class="product info detailed">

        <div class="product data items">
          <div class="row">
            <div class="col-md-3">
              <div class="detailed-menu" role="tablist">
                <div
                  class="data item title active"
                  aria-labeledby="tab-label-additional-title"
                  data-role="collapsible"
                  id="tab-label-additional"
                  role="tab"
                  data-collapsible="true"
                  aria-controls="additional"
                  aria-selected="true"
                  aria-expanded="true"
                  tabindex="0"
                >
                  <a
                    class="data switch"
                    tabindex="-1"
                    data-toggle="switch"
                    href="#additional"
                    id="tab-label-additional-title"
                  >
                    Key Features
                  </a>
                </div>
                <div
                  class="data item title"
                  aria-labeledby="tab-label-product.info.description-title"
                  data-role="collapsible"
                  id="tab-label-product.info.description"
                  role="tab"
                  data-collapsible="true"
                  aria-controls="product.info.description"
                  aria-selected="false"
                  aria-expanded="false"
                  tabindex="0"
                >
                  <a
                    class="data switch"
                    tabindex="-1"
                    data-toggle="switch"
                    href="#product.info.description"
                    id="tab-label-product.info.description-title"
                  >
                    Details
                  </a>
                </div>
                <div
                  class="data item title"
                  aria-labeledby="tab-label-additional_branddetails-title"
                  data-role="collapsible"
                  id="tab-label-additional_branddetails"
                  role="tab"
                  data-collapsible="true"
                  aria-controls="additional_branddetails"
                  aria-selected="false"
                  aria-expanded="false"
                  tabindex="0"
                >
                  <a
                    class="data switch"
                    tabindex="-1"
                    data-toggle="switch"
                    href="#additional_branddetails"
                    id="tab-label-additional_branddetails-title"
                  >
                    Brand Details
                  </a>
                </div>
                <div
                  class="data item title"
                  aria-labeledby="tab-label-reviews-title"
                  data-role="collapsible"
                  id="tab-label-reviews"
                  role="tab"
                  data-collapsible="true"
                  aria-controls="reviews"
                  aria-selected="false"
                  aria-expanded="false"
                  tabindex="0"
                >
                  <a
                    class="data switch"
                    tabindex="-1"
                    data-toggle="switch"
                    href="#reviews"
                    id="tab-label-reviews-title"
                  >
                    Reviews
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-8">
              <div class="detailed-content">
                <div
                  class="data item content"
                  id="additional"
                  data-role="content"
                  aria-labelledby="tab-label-additional"
                  role="tabpanel"
                  aria-hidden="false"
                  style="display: block"
                >
                  <div class="additional-attributes-wrapper table-wrapper">
                    <table
                      class="data table additional-attributes"
                      id="product-attribute-specs-table"
                    >
                      <tbody>
                        <tr>
                          <th
                            class="col"
                            scope="row"
                            style="border-top: none; font-weight: normal"
                          >
                            <span style="color: red">■ &nbsp;</span>Female
                          </th>
                        </tr>
                        <tr>
                          <th
                            class="col"
                            scope="row"
                            style="border-top: none; font-weight: normal"
                          >
                            <span style="color: red">■ &nbsp;</span> Eau de
                            Perfume
                          </th>
                        </tr>
                        <tr>
                          <th
                            class="col"
                            scope="row"
                            style="border-top: none; font-weight: normal"
                          >
                            <span style="color: red">■ &nbsp;</span> 100 ml
                          </th>
                        </tr>
                        <tr>
                          <th
                            class="col"
                            scope="row"
                            style="border-top: none; font-weight: normal"
                          >
                            <span style="color: red">■ &nbsp;</span>
                            Casual/Floral sweet
                          </th>
                        </tr>
                        <tr>
                          <th
                            class="col"
                            scope="row"
                            style="border-top: none; font-weight: normal"
                          >
                            <span style="color: red">■ &nbsp;</span> Country of
                            Origin: India
                          </th>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div
                  class="data item content"
                  id="product.info.description"
                  data-role="content"
                  aria-labelledby="tab-label-product.info.description"
                  role="tabpanel"
                  aria-hidden="true"
                  style="display: none"
                >
                  <div class="product attibute description">
                    <div class="value">
                      <span class="teaser"
                        >Wear a fragrance that's refreshing and reviving for a
                        long lasting impression. A sophisticated and charming
                        aroma, the base note of Provocative by Elizabeth Arden
                        is a blend of white sand notes, Hinoki wood and red
                        amber. Its earthy sensuality is hard to miss. The middle
                        note is a mixture of variety of essences, such as
                        midnight orchid, papaya blossom and pink freesia and the
                        top note is composed of quince, water lotus, and ginger
                        lily. The sweet floral essence of this 100 ml Eau de
                        Perfume is sure to attract a lot of attention.
                        <p></p
                      ></span>
                      <span class="completeDescription"
                        >Wear a fragrance that's refreshing and reviving for a
                        long lasting impression. A sophisticated and charming
                        aroma, the base note of Provocative by Elizabeth Arden
                        is a blend of white sand notes, Hinoki wood and red
                        amber. Its earthy sensuality is hard to miss. The middle
                        note is a mixture of variety of essences, such as
                        midnight orchid, papaya blossom and pink freesia and the
                        top note is composed of quince, water lotus, and ginger
                        lily. The sweet floral essence of this 100 ml Eau de
                        Perfume is sure to attract a lot of attention.</span
                      >
                    </div>
                  </div>
                  <script type="text/javascript">
                    require(["jquery"], function ($) {
                      $(window).load(function () {
                        $(".moreLink").toggle(
                          function () {
                            $(this)
                              .text("Read less...")
                              .siblings(".completeDescription")
                              .show();
                            $(".teaser").hide();
                          },
                          function () {
                            $(this)
                              .text("Read more...")
                              .siblings(".completeDescription")
                              .hide();
                            $(".teaser").show();
                          }
                        );
                      });
                    });
                  </script>
                  <style>
                    .completeDescription {
                      display: none;
                    }

                    .moreLink {
                      cursor: pointer;
                      color: #f10102;
                    }
                    .test3 {
                      display: none;
                    }
                  </style>
                </div>
                <div
                  class="data item content"
                  id="additional_branddetails"
                  data-role="content"
                  aria-labelledby="tab-label-additional_branddetails"
                  role="tabpanel"
                  aria-hidden="true"
                  style="display: none"
                >
                  <b>Manufacturer / Packer / Importer:</b><br />Shree Traders<br />101,
                  AL SANA HOUSE,Maharashtra, 400049
                </div>
                <div
                  class="data item content"
                  id="reviews"
                  data-role="content"
                  aria-labelledby="tab-label-reviews"
                  role="tabpanel"
                  aria-hidden="true"
                  style="display: none"
                >
                  <div
                    id="product-review-container"
                    data-role="product-review"
                  ></div>

                  <div class="block review-add">
                    <div class="title-inline">
                      <h3
                        class="heading full"
                        style="text-transform: none; font-weight: 600"
                      >
                        <span>Write Your Review</span>
                      </h3>
                    </div>
                    <div class="block-content">
                      <div class="message info notlogged" id="review-form">
                        <div>
                          Only registered users can write reviews. Please,
                          <a
                            href="https://www.giftcart.com/customer/account/login/referer/aHR0cHM6Ly93d3cuZ2lmdGNhcnQuY29tL2NhdGFsb2cvcHJvZHVjdC92aWV3L2lkLzIyNTMvI3Jldmlldy1mb3Jt/"
                            >Sign in</a
                          >
                          or
                          <a
                            href="https://www.giftcart.com/customer/account/create/"
                            >create an account</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <div id="sk_item_details_div1">
        <div id="sk_item_details_div11">
          <div id="sk_item_details_div111">KEY FEATURES</div>
          <div id="sk_item_details_div112">DETAILS</div>
          <div id="sk_item_details_div113">BRAND DETAILS</div>
          <div id="sk_item_details_div114">REVIEWS</div>
        </div>
        <div id="sk_item_details_div12">
          <div id="sk_item_details_div121">
            <table
              class="data table additional-attributes"
              id="product-attribute-specs-table"
            >
              <tbody>
                <tr>
                  <th
                    class="col"
                    scope="row"
                    style="border-top: none"
                  >
                    <span style="color: red">■ &nbsp;</span>Female
                  </th>
                </tr>
                <tr>
                  <th
                    class="col"
                    scope="row"
                    style="border-top: none"
                  >
                    <span style="color: red">■ &nbsp;</span> Eau de Perfume
                  </th>
                </tr>
                <tr>
                  <th
                    class="col"
                    scope="row"
                    style="border-top: none"
                  >
                    <span style="color: red">■ &nbsp;</span> 100 ml
                  </th>
                </tr>
                <tr>
                  <th
                    class="col"
                    scope="row"
                    style="border-top: none"
                  >
                    <span style="color: red">■ &nbsp;</span>
                    Casual/Floral sweet
                  </th>
                </tr>
                <tr>
                  <th
                    class="col"
                    scope="row"
                    style="border-top: none"
                  >
                    <span style="color: red">■ &nbsp;</span> Country of Origin:
                    India
                  </th>
                </tr>
              </tbody>
            </table>
          </div>
          <div id="sk_item_details_div122">
            Wear a fragrance that's refreshing and reviving for a
            long lasting impression. A sophisticated and charming
            aroma, the base note of Provocative by Elizabeth Arden
            is a blend of white sand notes, Hinoki wood and red
            amber. Its earthy sensuality is hard to miss. The middle
            note is a mixture of variety of essences, such as
            midnight orchid, papaya blossom and pink freesia and the
            top note is composed of quince, water lotus, and ginger
            lily. The sweet floral essence of this 100 ml Eau de
            Perfume is sure to attract a lot of attention.
          </div>
          <div id="sk_item_details_div123">
            <b>Manufacturer / Packer / Importer:</b><br />Shree Traders<br />101,
            AL SANA HOUSE,Maharashtra, 400049
          </div>
          <div id="sk_item_details_div124">
              
          </div>
        </div>
      </div>
    </div>
    <div style="margin-top: 20px" id="footer">
      <%- include("../public/components/footer.html") %>
    </div>
  </body>
</html>
<script></script>
<script type="module">
  // navbar html are imported here
  // import navbar_part from "/components/navbar.js";
  // let navbar_com = await navbar_part();
  // document.querySelector(".nav_bar_container").innerHTML = navbar_com;
  // navbar logic are imported here
  import navbar_responsive from "/scripts/header.js";
  await navbar_responsive();
</script>
