<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Page</title>
    <!-- yash link share for the css of header -->
    <link rel="icon" type="image/x-icon" href="https://style.giftcart.com/pub/media/favicon/stores/1/16x16.png"/>
    <!-- <link rel="stylesheet" type="text/css" media="all"
        href="https://style.giftcart.com/pub/static/_cache/merged/ba33a3ae125fe1c0ffec40f2b0073279.min.css" /> -->
    <!-- <script src="https://code.jquery.com/jquery-3.4.1.js"></script> -->
    <link rel="stylesheet" href="/styles/landing_page.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet"/>

    <!-- yash link share for the css of header  -->
    <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
    rel="stylesheet"
  />
    <link rel="stylesheet" href="/styles/shopItem.css">
    <script
            src="https://kit.fontawesome.com/2281802e38.js"
            crossorigin="anonymous">
    </script> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Footer css  -->
    <link rel="stylesheet" href="/styles/footer.css">


</head>
<body>

    <!-- header added here made by yash -->
    
    <div class="nav_bar_container"></div>

    <!-- covid pop message  -->
    <div id="Sam_alert_popup_message"><div id="sam_alert_line" class="common"><span id="sam_c19_alert">COVID ALERT</span>- We request our customers to empathise and cooperate with us, as deliveries may be delayed by couriers. We stand together in our fight against COVID</div><span id="sam_X" class="common">X</span></div>

    <!-- above div is for the header -->
    <div id="Sam_body">
        <div id="Sam_div1_links"><div onclick="gotohome()" id="Sam_home_link"><i>Home</i></div><div id="Sam_category_page"></div><div id="Sam_name_product"></div></div>
        <hr>

        <!-- display and details div start form here -->
        <div id="Sam_Display_nd_details">
          <div id="Sam_image_display">
            <img src="<%= item.image %>" alt="<%= item.product %>">
          </div>
          <div id="Sam_details_display">
                
                <!-- ejs loop ends here -->
                <h1 class="common"><div%= item.product %></hh1>
                    <div id="sam_product_spec">
                        <div id="sam_id">#CM09FSSD178<span>|</span></div>
                        <div id="sam_rating">26 REVIEWS<span>|</span></div>
                        <div id="sam_rating_star">
                            <!-- <span class="fa fa-star sam_checked"></span>
                                <span class="fa fa-star sam_checked"></span>
                                <span class="fa fa-star sam_checked"></span>
                        <span class="fa fa-star sam_checked"></span>
                        <span class="fa fa-star"></span> -->
                        <span class="Bs_star_image_div">
                            <i class="fas fa-star sam_checked"></i>
                            <i class="fas fa-star sam_checked"></i>
                            <i class="fas fa-star sam_checked"></i>
                            <i class="fas fa-star sam_checked"></i>
                            <i class="far fa-star"></i>
                        </span>
                        <span>|</span></div>
                        <div id="sam_rating_add"><img src="./images/pen.png">ADD REVIEW</div>
                    </div>
                    <div>

                        <div id="bs_h3_price">
                            <span class="sam_priceValue">
                                MRP(incl gst)
                            </span>
                            <span id="Sam_add_price_here">
                                <p style="color: red">&#8377</p>
                                <p class="bs_priceValue"><%= item.price %></p>
                                <p>&#8377</p>
                                <p><%= item.price+900 %></p>
                            </span>
                        </div>
                    </div>
                    <div class="bs_yourSave">
                        <p>
                            Your Save 
                            <span style="color:red">
                                10%
                            </span>
                        </p>
                    </div>

                   
                    <div id="sam_delivery_report">
                        <img src="./images/green-tick-checkmark-icon-vector-22691505.jpg">
                        <div>
                            Free Shipping
                        </div>
                    </div>
                    <div id="sam_related_to_del" class="common"><div>Delivery 4 - 6 Working Days</div><div id="sam_delevery_check"><img src="./images/icoredlog.png"><div id="sam_picode_check" onclick=toggle_div_visibility()>Delivery Coverage & Charges</div></div></div>
                    <div id="sam_delievry_pincode_check" >
                    <!-- hidden div for delievry check picode ---->
                    <input id="sam_input_pincode" type="number" class="common" placeholder="Please Enter Your City Pincode">
                    <div id="sam_please_wait_message"></div>
                    <div id="Sam_check_button" class="common">CHECK</div>
                    <div id="sam_alert_append_div"></div>

                    <!-- hidden div which will appper and disapper on click -->
                </div>
                <div id="sam_cartItem_retated" class="common">
                    <div id="sam_item_count">
                        <div id="sam_subtracting_count" class="curser">
                            -
                        </div>
                        <div id="sam_display_value_count">

                        </div>
                        <div id="sam_adding_count" class="curser">
                            +
                        </div>
                    </div>
                    <div id="sam_add_to_cart" class="common curser">
                        <form action="/cart/<%- item._id %>">
                            <button type="submit">
                                ADD TO CART
                            </button>
                        </form>
                    </div>
                <div class="curser color" onclick="buyNow(' <% item._id  %>')" id="sam_add_to_cart">
                    BUY NOW
                </div>
            </div>
                <div id="sam_wishlist">
                    <!-- <div id="sam_heart">
                        <div class="sam_heart_rigth sam_heart" id="sam_heart_common">.</div>
                        <div class="sam_heart_left sam_heart" id="sam_heart_common">.</div>
                    </div> -->
                    <i class="fas fa-heart">ADD TO WISHLIST</i>
                </div>
                <div id="sam_wrap_obtion">
                    <div id="sam_wrap_gift" class="common">Wraps and Boxes</div><div class="common" id="sam_gift_card">Gift Card</div>
                </div>
                <div id="sam_hr"></div>
                <img id="sam_fb_img" src="./images/fab ass.png"/>
            </div>    
        </div>

        <!-- display and details div end here -->

        <!-- form here we are starting codes for detail elaborate -->
        <div id="sam_elaborate_margin">
            <div id="sam_flex">
                <div class="sam_hover_div" id="sam_keyvalue">KEY FEATURES</div>
                <div id="sam_keyfeatures" >
                </div>
            </div>
        
            <div id="sam_flex">
                <div class="sam_hover_div" id="sam_details">DETAILS</div>
            </div>
            <div id="sam_flex">
                <div class="sam_hover_div" id="sam_dislcaimer">DISCLAIMER</div>
            </div>
        
            <div id="sam_flex">
                <div class="sam_hover_div" id="sam_brand_details">BRAND DETAILS</div>
            </div>
        
            <div id="sam_flex">
                <div class="sam_hover_div" id="sam_review_write" >REVIEWS</div>
            </div>
        </div>
        <div style="margin-top: 60px; border-bottom: 1px solid silver;"></div>
        <div style="margin-top: 130px; margin-bottom: 60px; border-bottom: 0.5px solid silver;"></div>
    </div>

    <!-- footer added here -->
    <div id="sam_footer">

    </div>
    
</body>
</html>
<script src="/scripts/shopItem.js"></script>
<script type="module">
// navbar html are imported here
import navbar_part from "./components/navbar.js";
    let navbar_com = await navbar_part();
        document.querySelector(".nav_bar_container").innerHTML = navbar_com;
// navbar logic are imported here
import navbar_responsive from "./scripts/header.js";
    await navbar_responsive();
        let getcart = JSON.parse(localStorage.getItem('productlist'));
// console.log(getcart.length)
            let cart_count = document.getElementById('cart_cc');
                cart_count.textContent = `${getcart.length}`;
                let clickdiv = document.querySelector('.material-icons-outlined');
    clickdiv.addEventListener('click',()=>{
        window.location.href = '/product/random'
    })
</script>

<!-- below script is use for footer import to page -->
<script type="module">
    import footer from "./components/footer.js"
        document.getElementById("sam_footer").innerHTML=footer();
</script>
